.detail-nav{background-color: rgba(0, 150, 218, 1);line-height: 2.4;color:#fff;font-size: 16px;padding: 5px 15px;}
.content > *{display: inline-block;vertical-align: top;}
.left{width: 60%;}
.right{width: 40%;}
.second{width: 100%;margin-top: 20px;}
.second > *{width: 49%;display: inline-block;vertical-align: top;}
.secondSteps{margin-left: 2%;}
.page-body{margin-bottom: 0px !important;}
#map{display: block;width: 100%;min-height: 1000px;}
.ant-steps-description {
    width: 135px !important;
    max-width: 135px !important;
}
@media screen and (max-width:950px){
.secondSteps{margin-left: 0;}
.second{margin-top: 0px;}
.second > *{width: 100%;margin-top: 20px;}
.content > *{width: 100%;}
.left{width: 100%;}
.right{width: 100%;margin-top: 20px;}
.ant-steps-description {
    width: 100% !important;
    max-width: 100% !important;
}
}