.detail-nav{
    background-color: rgba(0, 150, 218, 1);
    line-height: 2.4;
    color:#fff;
    font-size: 16px;
    padding: 5px 15px;
}
.page-body{
    margin-bottom: 0px !important;
}
#tracing-timeline {
    margin-left: 16px;
}
#map{
    display: block;
    width: 100%;
    height: 100%;}
.ant-steps-description {
    width: 135px !important;
    max-width: 135px !important;
}
@media screen and (max-width:950px){
    #tracing-timeline {
        margin-left: 0;
    }
    #map{
        margin: 16px;
        height: 200px;
     }
    .ant-steps-description {
        width: 100% !important;
        max-width: 100% !important;
    }
}