.home {
  &-header {
    width: 100%;
    // background: url('../../public/assets/img/home/header-bg.jpg');
    >img {
      position: fixed;
      top: 0;
      left: 0;
      height: 230px;
      width: 100%;
    }
    .btn-group {
      position: fixed;
      top: 110px;
      right: 90px;
      width: 120px;
      button {
        width: 100%;
      }
    }
    .tenant {
      &-container {
        width: 300px;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        position: relative;
        >img {
          height: 80px;
          width: 80px;
          margin: 0 auto 10px;
        }
        h2 {
          color: #FFF;
        }
      }
    }
  }
  &-body {
    width: 1000px;
    margin: 60px auto;
  }
}

