{
  "passPerPreset": true,
  "plugins": ["transform-decorators-legacy", "add-module-exports"],
  "presets": [
    {
      "plugins":[["transform-runtime", {
        "helpers": true,
        "polyfill": true,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }]]
    },
    {
      "passPerPreset": false,
      "presets": ["es2015-without-regenerator", "react", "stage-0"]
    }
  ],
  "env": {
    "i18n": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./public/dist/messages/"
        }]
      ]
    }
  }
}
