{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": './webpack/wpbase.js'
      }
    }
  },
  "globals": {
    "__CLIENT__": true,
    "__CDN__": true,
    "XLSX_CDN": true,
    "webpackIsomorphicTools": false,
    "__DEV__": false,
    "__PROD__": false,
    "__DEVTOOLS__": false,
    "API_ROOTS": false,
    "Notification": true,
    "window": true,
    "document": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
"react/jsx-closing-tag-location":0,
"react/jsx-first-prop-new-line": 0,
    "comma-dangle": ["error", {
	"arrays": "always-multiline",
	"objects": "always-multiline",
	"imports": "always-multiline",
	"exports": "always-multiline",
	"functions": "ignore"
    }]
  }
}
