{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": './webpack/wpbase.js'
      }
    }
  },
  "globals": {
    "__CLIENT__": true,
    "__CDN__": true,
    "XLSX_CDN": true,
    "webpackIsomorphicTools": false,
    "__DEV__": false,
    "__PROD__": false,
    "__DEVTOOLS__": false,
    "API_ROOTS": false,
    "Notification": true,
    "window": true,
    "document": true
  },
  "rules": {
    "no-else-return": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-restricted-syntax": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "import/first": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "id-length":[0],
    "max-len": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "react/jsx-max-props-per-line": 0,
    "react/require-default-props": 0,
    "consistent-return": 0,
    "no-mixed-operators": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "no-plusplus":0,
    "no-bitwise": 0,
    "class-methods-use-this": 0,
    "no-confusing-arrow": 0,
    "no-empty": 0,
    "comma-dangle": ["error", {
	"arrays": "always-multiline",
	"objects": "always-multiline",
	"imports": "always-multiline",
	"exports": "always-multiline",
	"functions": "ignore"
    }]
  }
}
