@import "~antd/lib/style/index.less";
@import "~antd/lib/style/components.less";
@import "../variable.less";
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',"\9ED1\4F53",SimSun,sans-serif;
  background-color: #F0F0F0;
}
ol, ul {
  margin-bottom: 9px;
}
dl, ol, ul {
  margin-top: 0px;
}
hr, img {
  border: 0;
}
img {
  vertical-align: middle;
}

.ant-menu-root {
  font-size: 14px;
}
.ant-menu-vertical {
  border-right: none;
}

.ant-menu-vertical .ant-menu-item {
  border-right: none;
}
.ant-menu-item a {
  display: block;
}

.ant-cascader-picker-label {
  z-index: 1;
}

.zmdi-clearance:before {
  content: '\f1cc';
}
.zmdi-manager:before {
  content: '\f1cc';
}
.zmdi-orders:before {
  content: '\f222';
}
.zmdi-clearance:before {
  content: '\f172';
}
.zmdi-transport:before {
  content: '\f1e6';
}
.zmdi-inventory:before {
  content: '\f1d2';
}
.zmdi-tracking:before {
  content: '\f171';
}
.zmdi-forwarding:before {
  content: '\f11a';
}
.zmdi-datacenter:before {
  content: '\f131';
}
.zmdi-integration:before {
  content: '\f293';
}
.zmdi-corp:before {
  content: '\f132';
}

.mdc-text-green {
  color: #4caf50;
}
.mdc-text-grey {
  color: #9e9e9e;
}
.mdc-text-red {
  color: #f50;
}
.ant-alert-success {
  color: #87d068;
}
.ant-alert-info {
  color: #2db7f5;
}
.ant-alert-warning {
  color: #fa0;
}
.ant-alert-error {
  color: #f50;
}
.alert-tag {
  margin-right: 2px;
  padding: 2px;
  border-radius: 3px;
}
.sign-info {
  font-size: 18px;
  color: #2db7f5;
}
.sign-warning {
  font-size: 18px;
  color: #fa0;
}
.sign-error {
  font-size: 18px;
  color: #f50;
}
.modal-top-actions {
  text-align: right;
  margin-bottom: 8px;
}
.am-wrapper {
  min-height:100%;
  height:100%;
  padding-top: @am-header-height;
  @media (max-width:767px) {
    padding-top:@am-header-height;
  }
}
.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
  >li, >li a {
    display: block;
    position: relative;
  }
  .angle-down {
    font-size: 27px;
    vertical-align: middle;
  }
  .ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu {
    border-bottom: none;
  }
  .ant-menu-horizontal > .ant-menu-item > .ant-badge >a {
    display: block;
    color: #666;
  }
  .ant-menu-horizontal > .ant-menu-item > .ant-badge >a:hover {
    color: #2db7f5;
  }
  .ant-menu-item, .ant-menu-submenu-title {
    padding: 0 12px;
  }
  .ant-menu-item, 
  .ant-menu-submenu-title  {
    .icon {
      font-size: 24px;
      vertical-align: middle;
      line-height: 18px;
    }
  }
  .ant-menu-sub {
    width: 100px;
  }
}
.navbar-nav {
  margin: 8px -15px;
  float: left;
  margin: 0px;
  >li {
    float: left;
  }
}
.navbar-right {
  float: right !important;
}
.navbar {
  position: relative;
  min-height: @am-header-height;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 0px;
}

// 不显示select mirror input
.@{select-prefix-cls} {
  &-search--inline {
    .@{select-prefix-cls}-search__field__mirror {
      display: none;
    }
  }
}
.collapsing, .dropdown {
  position: relative;
}
.navbar-brand {
  float: left;
  padding: 16px 15px;
  font-size: 15px;
  line-height: 18px;
  height: 48px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  content: " ";
  display: table;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  content: " ";
  display: table;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container:after, .dl-horizontal dd:after, .dropdown-menu>li>a, .form-horizontal .form-group:after, .fuelux .wizard:after, .modal-footer:after, .nav:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
.navbar-fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  border-radius: 0px;

}

.am-top-header {
  background-color:@am-theme-color;
  border:0;
  margin-bottom:0;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  transition:all .35s ease;
  .navbar-header {
    float: left;
    @media (max-width:767px) {
      text-align:center;
    }
    .navbar-brand {
      background-color:#3d3c3c;
      color:#fff;
      padding-top:0;
      padding-bottom:0;
      line-height: @am-header-height;
      height: @am-header-height;
      width: @am-leftbar-width;
      background-image:url("../../../public/assets/img/welogix_logo_160_100_white_trans.png");
      background-size: auto 45px;
      background-repeat:no-repeat;
      background-position:center center;
      @media (max-width:767px) {
        display:none;
      }
      &.module-corp {
        background-color:#393c40;
      }
      &.module-clearance {
        background-color:#01BAD2;
      }
      &.module-manager {
        background-color:#01BAD2;
      }
      &.module-orders {
        background-color:#60BE29;
      }
      &.module-transport {
        background-color:#00A0E8;
      }
      &.module-inventory {
        background-color:#FF6100;
      }
      &.module-tracking {
        background-color:#FAC450;
      }
      &.module-forwarding {
        background-color:#5E30B5;
      }
      &.module-datacenter {
        background-color:#E9259E;
      }
      &.module-integration {
        background-color:#E01515;
      }
    }
    .navbar-toggle {
      border-radius:0;
      position:absolute;
      left:0;
      top:0;
      margin:0;
      font-size: 24px;
      color: #aaa;
      text-align:center;
      display:none;
      padding:0 16px;
      border-width:0;
      line-height:48px;
      @media (max-width:767px) {
        width: 60px;
        display:block;
        background: #3d3c3c;
      }
      .icon-bar {
        display:inline-block;
        background-color:transparent;
        height:auto;
        width:auto;
        vertical-align:middle;
        span {
          display:block;
          width:25px;
          height:1px;
          margin-top:6px;
          background-color:#fff;
          &:first-child {
            margin-top:0;
          }
        }
      }
    }
  }
}
.navbar-title {
  float: left;
  line-height: @am-header-height;
  color:#373737;
  font-size:16px;
  padding:0 18px;
  outline:0;
  span {
    font-size: 16px;
    line-height: 44px;
    vertical-align: middle;
  }
  a {
    color:#373737;
    padding: 0;
    >i {
      width: 30px;
      font-size: 24px;
      line-height: 44px;
      vertical-align: middle;
    }
  }
  @media (max-width:767px) {
    margin-left: 60px;
  }
}
.navbar-avatar {
  max-width:32px;
  max-height:32px;
  border-radius:50%;
}
.navbar-user-menu {
  .ant-menu-submenu-horizontal > .ant-menu {
    left: -50px;
    width: 120px;
  }
}
.am-nosidebar-left {
  .am-left-sidebar {
    display: none;
  }
  .am-top-header {
    @media (max-width:767px) {
      background-color: #fff;
    }
    .navbar-header .navbar-brand {
      background-color: transparent;
      border-bottom-width: 0;
      margin-left: 0;
      margin-right: 10px;
      width: 80px;
      background-image: url("../../../public/assets/img/welogix_logo_160_100.png");
      background-size: auto 48px;
      @media (min-width:768px) and (max-width:991px) {
        margin-right:0;
        padding-left:0;
        width:80px;
      }
      @media (max-width:767px) {
        display: block;
      }
    }
  }
  @media (max-width:767px) {
    .am-top-header .navbar-header .am-toggle-left-sidebar {
      display: none;
    }
  }
}
.am-left-sidebar {
  background-color:#333;
  width: @am-leftbar-width;
  height:100%;
  left:0;
  position:absolute;
  transition:all .35s ease;
  .am-logo {
    display:none;
    @media (max-width:767px) {
      background:url("../../../public/assets/img/welogix_logo_160_100_white_trans.png") 15px center no-repeat #393838;
      height:70px;
      border-bottom:1px solid #353434;
      display:block;
    }
    @media (max-width:767px) and (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2/1),(min-resolution:192dpi) {
      background-image:url("../../../public/assets/img/welogix_logo_160_100_white_trans.png");
      background-size:150px 39px
    }
  }
  &:before {
    content:"";
    position:fixed;
    z-index:-1;
    width:inherit;
    top:0;
    left:0;
    bottom:0;
    background-color:inherit;
    transition:all .35s ease
  }
  @media (max-width:767px) {
    width: 60px;
  }
}
.am-fixed-sidebar .am-left-sidebar {
  margin-top: @am-header-height;
  padding-bottom:80px;
  position:fixed;
  top:0;
  bottom:0;
  z-index:1031;
}
.am-fixed-sidebar .am-left-sidebar:before {
  top: @am-header-height;
}
.am-content {
  position:relative;
  left:0;
  margin-left: @am-leftbar-width;
  min-height:100%;
  height: 100%;
  transition:all .35s ease;
  @media (max-width:767px) {
    margin-left: 60px;
  }
}
.am-nosidebar-left .am-content {
  margin-left:0
}
.top-bar {
  background: #fcfcfc;
  padding: 8px 16px;
  >span {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    vertical-align: middle;
    margin-right: 8px;
  }
  .tools {
    float: right;
    >span {
      margin-right: 8px;
    }
  }
}
.main-content {
  padding: 16px 16px 0;
  min-height:100%;

  @media (max-width:767px) {
    height:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px
  }
}
.ant-form-item > label {
  padding-right: 10px;
}
.ant-card{
  margin-bottom: 16px;
  .ant-form-item {
    margin-bottom: 8px;
  }
  .ant-collapse {
    border: none;
  }
  .ant-table-small {
    border: none;
  }
} 
.full-container {
  height: 100%;
}
.table-wrapper {
  background-color: #fff;
  padding: 20px 20px 40px;
}
.page-panel {
  background-color: #fff;
  padding: 20px 20px 40px;
  min-height: 100%;
}
.page-title {
  margin-bottom: 8px;
  >h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }
  .tools {
    float: right;
  }
}
.page-header {
  margin: 0 0 8px;
  vertical-align: middle;
  min-height: 32px;
  &.fixed {
    position: fixed;
    left: 116px;
    right: 16px;
  }
  >h3 {
    font-size: 16px;
    line-height: 30px;
  }
  >span {
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    margin-right: 8px;
  }
  .tools {
    float: right;
    >span {
      margin-right: 8px;
    }
  }

  @media (max-width:767px) {
    .tools {
      float: none;
      margin-bottom: 10px;
    }
  }
}
.page-body {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  margin-bottom: 24px;
  clear: both;
  &.fixed {
    position: fixed;
    top: 106px;
    left: 116px;
    right: 16px;
    bottom: 16px;
    margin-bottom: 0;
    .ant-pagination {
      position: fixed;
      bottom: 16px;
      right: 16px;
      background: #fff;
    }
    @media (max-width:767px) {
      top: 146px;
      left: 76px;
    }
  }
}
.ant-table,
.ant-table-header,
.ant-table table {
  border-radius: 0;
}
.ant-table-pagination {
  margin: 16px;
}
.ant-table-row .ant-tag {
  height: 16px;
  line-height: 16px;
  margin: 0;
}
.page-footer {
  height: 50px;
}
.panel-wrapper {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  padding: 16px;
}
.main-col {
  padding: 0 8px 24px 24px;
}
.right-side-col {
  padding: 0 24px 0 8px;
}
.body-responsive {
  overflow-x: auto;
  min-height: .01%;
  @media screen and (max-width: 991px) {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    .ant-table td,
    .ant-table th {
      white-space: nowrap;
    }
    .ant-form-horizontal {
      padding: 10px;
      min-width: 1000px;
    }
  }
}
.bottom-fixed-row {
  position: fixed;
  bottom: 0;
  left: @am-leftbar-width;
  right: 0;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 -1px 3px rgba(0,0,0,0.15);
  transition: all ease 0.4s;
  padding: 12px 20px 12px;
  z-index: 500;
  @media (max-width:767px) {
    left: 60px;
  }
  .ant-btn + .ant-btn {
    margin-left: 8px;
  }
}
.horizontal-divider {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
}

.panel-header {
  position: relative;
  padding: 8px 16px;
  .ant-select, button {
    margin-right: 8px;
  }
  span {
    vertical-align: middle;
  }
  .tools {
    float: right;
  }
  .left-tools {
    display: inline-block;
    width: 220px;
    input {
      width: 140px;
      margin-right: 4px;
    }
  }
  @media (max-width:767px) {
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    .tools {
      float: none;
      margin-bottom: 10px;
    }
  }
}
.ant-tabs-tabpane .panel-header {
  padding: 0 16px 0;
}
.panel-min-header {
  position: relative;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;
  min-height: 5px;
  span {
    vertical-align: middle;
  }
  .tools {
    float: right;
  }
  .left-tools {
    display: inline-block;
    width: 220px;
    input {
      width: 140px;
      margin-right: 4px;
    }
  }
  @media (max-width:767px) {
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    .tools {
      float: none;
      margin-bottom: 10px;
    }
  }
}

.panel-body {
  clear: both;
  &.padding {
    padding: 0 16px 16px;
  }
  &.table-panel {
    min-height: 565px;
    .ant-table-body {
      height: 506px;
    }
    .ant-table-placeholder {
      border-bottom: none;
    }
    .ant-table-tbody > tr > td {
      padding: 12px 8px;
    }
  }
  &.fixed-height {
    height: 615px;
    overflow: scroll;
  }
  &.expandable {
    .ant-table-body {
      height: auto;
    }
  }
  .ant-table-expanded-row > td {
    padding: 8px 8px;
  }
}
.panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 -1px 3px rgba(0,0,0,0.15);
  transition: all ease 0.4s;
  padding: 8px 16px 8px;
}
.ant-advanced-search-form {
  padding: 16px 60px 16px 0px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 16px;
}
.pane-header {
  position: relative;
  margin-bottom: 8px;
  padding: 0 24px;
  .ant-select, button {
    margin-right: 8px;
  }
  span {
    vertical-align: middle;
  }
  .tools {
    float: right;
  }
  .left-tools {
    display: inline-block;
    width: 220px;
    input {
      width: 140px;
      margin-right: 4px;
    }
  }
  @media (max-width:767px) {
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    .tools {
      float: none;
      margin-bottom: 10px;
    }
  }
}
.pane-content {
  .ant-collapse {
    margin-bottom: 72px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 14px;
  }
}
.action-btns {
  button, a {
    margin-right: 8px;
  }
}
.form-edit-content {
  padding: 20px;
  .ant-btn + .ant-btn {
    margin-left: 8px;
  }
  &.offset-right-col {
    width: 50%;
  }
  @media (max-width:991px) {
    padding: 10px;
    &.offset-right-col {
      width: 100%;
    }
  }
  &.offset-mid-col {
    width: 90%;
  }
  @media (max-width:991px) {
    padding: 10px;
    &.offset-mid-col {
      width: 100%;
    }
  }
}
.form-compact {
  .ant-form-item-with-help {
    margin-bottom: 0;
  }
  .ant-form-item {
    margin-bottom: 16px;
  }
  .ant-input-lg ,
  .ant-select-lg, 
  .ant-select-lg .ant-select-selection--single {
    height: 28px;
  }
}
.subform {
  background-color: #fff;
  box-shadow: none;
  margin: 0 10px 10px;
  padding: 10px 10px 10px;
  &-heading {
    color: #666;
    margin-bottom: 8px;
    background-color: transparent;
  }
  &-heading > &-title {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0;
  }
  &-body {
    margin-bottom: 24px;
    .ant-form-item {
      margin-bottom: 8px;
    }
  }

}
.vertical-scroll::-webkit-scrollbar {
  width:12px;
}
.vertical-scroll::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}
.vertical-scroll::-webkit-scrollbar-track {
  border-left:1px solid #a6a6a6;
  background:#d9d9d9;
}

.horizontal-scroll::-webkit-scrollbar {
  height:12px;
}

.thin-scroll::-webkit-scrollbar-track {
  background-color:#d9d9d9;
  border-left:2px solid transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color:#a6a6a6;
  border-left:2px solid transparent;
}

.thin-scroll::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(0,0,0,.1);
}

.transparent-scroll::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,.25);
}

@keyframes form-fade-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-fade-enter {
  display: block;
  animation: form-fade-enter both ease-in;
}

@keyframes form-fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.form-fade-leave {
  display: none;
  animation: form-fade-leave both ease-out;
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}
