.col{}
.col > *{display: inline-block;vertical-align: middle;}
.chartsArea{margin-top: 20px;}
.chartsArea > *{display: inline-block;vertical-align: top;}
.chartsArea>*:last-child{margin-left: 1%;}
#chart > div:first-child{width: 80%;}
