
.stats-data > *{display: inline-block;vertical-align: middle;}
.stats-data a {
    color: #000;
}
#chart > div:first-child{width: 80%;}
.exceptionFooter > *{display: inline-block;}
.exceptionFooter > .ant-alert{margin-left: 20px;}

.statistics-columns {
    width: 100%;
    -ms-flex-pack: distribute;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;

    .col-4 {
    width: 16.66666667%;
    }
    .statistics-cell {
        display: inline-block;
        margin-left: 16px;
        h6 {
            font-weight: normal;
            color: #999;
        }
        .data-num {
            font-size: 24px;
        }
    }

    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        position: relative;
        padding: 20px;
        height: 110px;
        margin-bottom: 7px;
        border-radius: 3px;
        img {
            width: 70px;
            height: 70px;
            vertical-align: top;
        }
        i {
            font-size: 32px;
            font-weight: bolder;
            border-radius: 50%;
            color: #fff;
            width:70px;
            height: 70px;
            padding: 18px 24px;
            vertical-align: top;
        }
    }
}