
.extra-actions {
  float: right;
  margin-right: 16px;
  font-size: 12px;
}
.timeline-remove, .timeline-edit{
  margin-left: 10px;
  font-weight: bolder;
  color: #ccc;
  &:hover {
    font-size: 15px;
    cursor: pointer;
    color: #000;
  }
}

.timeline-edit{
  margin-left: 6px;
}
