.module- {
  &container {
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    &.large {
      padding: 20px;
      margin-bottom: 20px;
      width: 220px;
      .module-text {
        font-size: 20px;
        color: white;
        margin-top: 16px;
      }
      .module-icon-bg {
        width: 110px;
        height: 110px;
        border-radius: 30px;
        -webkit-box-shadow: 0 0 50px rgba(132,132,132,0.5);
      }
      > img {
        width: 120px;
        height: 120px;
      }
      .module-icon >img {
        width: 70px;
        height: 70px;
        left: 75px;
        top: 40px;
      }
    }
    > img {
      position: relative;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
    }
    &:hover {
      background: rgba(0,0,0,0.1);
    }
  }
  &icon-bg {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(132,132,132,0.5);
    margin: auto;

    &.import {
      background-image: -webkit-linear-gradient(top, #1ae0ee, #00b2bf);
      background-image: -moz-linear-gradient(top, #1ae0ee, #00b2bf);
      background-image: -o-linear-gradient(top, #1ae0ee, #00b2bf);
      background-image: linear-gradient(to bottom, #1ae0ee, #00b2bf);
    }
    &.export {
      background-image: -webkit-linear-gradient(top, #1ebf5e, #00903a);
      background-image: -moz-linear-gradient(top, #1ebf5e, #00903a);
      background-image: -o-linear-gradient(top, #1ebf5e, #00903a);
      background-image: linear-gradient(to bottom, #1ebf5e, #00903a);
    }
    &.tms {
      background-image: -webkit-linear-gradient(top, #5bccff, #0096da);
      background-image: -moz-linear-gradient(top, #5bccff, #0096da);
      background-image: -o-linear-gradient(top, #5bccff, #0096da);
      background-image: linear-gradient(to bottom, #5bccff, #0096da);
    }
    &.wms {
      background-image: -webkit-linear-gradient(top, #ff9e41, #ea7300);
      background-image: -moz-linear-gradient(top, #ff9e41, #ea7300);
      background-image: -o-linear-gradient(top, #ff9e41, #ea7300);
      background-image: linear-gradient(to bottom, #ff9e41, #ea7300);
    }
  }
  &icon >img {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 28px;
    top: 22px;
  }
  &text {
    font-weight: 400;
    font-size: 12px;
    margin-top: 4px;
    line-height: normal;
    display: block;
  }
}
