
.module- {
  &container {
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 30px;
    &.large {
      .module-text {
        font-size: 20px;
      }
    }
    .module-text {
      font-weight: 400;
      font-size: 13px;
      line-height: normal;
    }
  }
  &import {
    background: url('../../public/assets/img/home/import-bg.png');
    width: 120px;
    height: 120px;
  }
}
