.order-flow-form {
  .flow-step {
    padding: 16px 16px 32px;
    background: #f7f7f7;
    border-radius: 4px;
  }
  .ant-steps {
    .ant-steps-head {
      background: transparent;
    }
    .ant-steps-title {
      background: transparent;
    }
  }
  .ant-carousel {
    .slick-dots {
      bottom: -12px;
      li button {
        height: 6px;
        background: rgba(0,0,0,.25);
      }
      li.slick-active button {
        background: #88c7f4;
      }
    }
    .slick-slide {
      padding: 8px;
    }
  }
  .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-tail > i {
    background: #f7f7f7;
  }
}

.order-progress {
  .ant-steps-item {
    width: 200px;
  }
}